
// @import "node_modules/bootstrap/scss/bootstrap";
// @import "~bootstrap/scss/bootstrap";

.questions {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #434343;
  strong {
    color: #A1A1A1;
  }
}