<div class="answers" *ngIf="answerData">
  <div class="answer flash" *ngIf="data.category === 'flash'">
    <p><strong>A:</strong>&nbsp;  <span [innerHTML]="data.answer"></span></p>
  </div>

  <div class="answer flash" *ngIf="data.category === 'choice'">
    <div *ngFor="let answer of data.answer; let i = index" class="answer-wrapper"
      [ngClass]="{'correct': selectedAnswer === i}"
      (click)="checkboxClick(i)">
      <input type="radio" id="{{i}}" name="answer" value="{{answer.a}}">
      <label for="{{i}}"><span [innerHTML]="answer.a"></span></label>
    </div>
  </div>

  <div class="subnotes">
    <p [innerHTML]="data.subNotes"></p>
  </div>
</div>