
// @import "bootstrap";
// @import "bootstrap/scss/bootstrap";
// @import "bootstrap/scss/variables";
// @import "bootstrap/scss/type";

// @import "bootstrap/scss/functions";
// // @import "bootstrap/scss/variables";
// @import "bootstrap/scss/mixins";

:host ::ng-deep, .answers {
  font-size: 16px;
  strong, .subnotes {
    color: #A1A1A1;
  }
  .answer {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #434343;
    input {
      margin-right: 20px;
    }
    .answer-wrapper {
      margin-bottom: 3px;
      padding-top: 5px;
    }
    &.flash {
      code, pre {
        // &.foo {
          // font-size: 18px;
          color: rgb(252, 158, 158);
          // font-size: 40px;
        // }
      }
      .correct {
        code {
          color: #000;
        }
      }
    }
    .correct {
      color: #000;
      padding-left: 3px;
      background-color:rgb(0, 255, 128);opacity:0.6;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0,255,111,1);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0,255,111,1);
      box-shadow: 0px 0px 5px 0px rgba(0,255,111,1);
    }
    .wrong {
      padding-left: 3px;
      background-color:rgb(255,0,0);opacity:0.4;
    }
  }
  .subnotes {
    code {
      color: #A1A1A1;
    }
    padding: 0 20px;
  }



  li {
    list-style-type: none;
    input {
      margin-right: 20px;
    }
  }
}
